name: test

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: github.head_ref
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v4

      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .

  tests:
    needs:
      - lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        neovim_version: ['v0.10.1', 'stable', 'nightly']

    steps:
      - uses: actions/checkout@v4

      - name: setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - name: run tests
        run: make test-ci